/* chekout.css */

/* Reset default margin */
body {
    margin: 0;
    padding: 0;
}

/* Set background and font */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



/* Header */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container {
    width: 80%;
    max-width: 500px;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0; /* Menghilangkan margin-top */
    margin-bottom: 20px; /* Dipindahkan dari header ke sini */
}

h1 {
    margin: 0;
}

/* Form */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #2980b9;
}
